body {
  padding: 0px;
  margin: 0 auto;
	background: #1d1f21;
	text-align: center;
	font-family: sans-serif
}
* {
	position: relative;
	transform-origin: 0 0;
	margin: 0;
}
section#demoContainer {
	background-color: #fff;
	padding: 20px 0;
}
pre, code {
	text-align: left;
}
h1, h2, p {
	color: #888;
	font-weight: 100;
	letter-spacing: 1px;
	margin: 20px auto;
}

h1 {
	margin: 0 auto;
	padding: 16px 64px;
	display: table;
	border-bottom: solid 1px rgba(255,255,255,0.5);
	font-size: 32px;
	line-height: 36px
}
p {
	font-size: 16px;
	line-height: 24px;
}
.buttonContainer {
	display: inline-block;
	margin: 50px
}

.tester {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}